body{

background-image: url("../images/backgroundTrivia.png");


}

/*.container-fluid{

	background-image: url("../images/backgroundTriva.png");

}*/

.jumbotron{
	margin: 40px;
	background: yellow;
}